<div class="container">
    
    <div class="row">
        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1" style="text-align:center;">
            <input type="checkbox"/>
        </div>
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 col-xl-8">
            <input type="text" class="form-control"/>
        </div>
        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
            <!-- 領域を確保するため、hiddenにて定義 -->
            <input type="button" class="btn btn-danger" style="visibility:hidden;"/>
        </div>
    </div>

        <%= nested_form_for(Checklist.new(), url: checker_show_path) do |c| %>
            <%= c.fields_for :checkcomps do |comp_form| %>
            <div class="row" style="margin-top:5px;margin-bottom:5px;">
                <div class="col-xs-1 col-md-1 col-lg-1 col-xl-1" style="text-align:center;">
                    <%= comp_form.check_box :checked %>
                </div>
                <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 col-xl-8">
                    <%= comp_form.text_field :detail ,class: 'form-control'%>
                </div>
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 col-xl-1">
                    <%= comp_form.link_to_remove "削除" ,class: 'btn btn-danger'%>
                </div>
            </div>
        <% end %>
        <%= c.link_to_add "追加", :checkcomps ,class: 'btn btn-primary',style: 'margin-top:15px'%>
        <% end %>
        
    </div>
</div>