<%= form_for(@checkcomp, html:{class: 'form-horizontal'}) do |f| %>

  <table class="table table-striped table-bordered table-hover">
          <tbody>
            <%= f.nested_fields_for :checkcomp, wrapper_tag: :tr do |c| %>
                <td><%= c.check_box   :checked,     class: 'form-control' %></td>
                <td><%= c.text_field :check_detail, class: 'form-control' %></td>
                <td><%= c.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %></td>
            <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :checkcomp, '追加', class: 'btn btn-primary', role: 'button' %>

<% end %>