<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <title>忘れ物Checker</title>
</head>

<body style="background-color: #FEF3DF;width: 100%;">
<header>
  <div class="jumbotron" style="background-color:#4DAB86">
    <h1 style="color:#FEF3DF"><i class="fa fa-pencil"></i> 忘れ物はありませんか？</h1>
    <!-- #3C4565 -->
  </div>
</header>
<%= yield %>

</body>
</html>
